body {
	lề : 0 px ;
	padding : 0 px ;
}
h2 {
	text-align : center ;
	lề : 0 px ;
	padding-top : 30 px ;
}
tiêu đề {
	chiều cao : 100 px ;
	màu nền : # 9933cc ;
}
nav {
	chiều cao : 100 px ;
	màu nền : # 33b5e5 ;
}
bài viết {

	chiều cao : 300 px ;
	màu nền : # 0099cc ;
	đệm : 1 px ;
	border : 1 px  solid  black ;
}
chân trang {
	rõ ràng : cả hai ;
	màu nền : màu xám ;
	chiều cao : 100 px ;
}

@media  chỉ  màn hình  và ( chiều rộng tối thiểu : 300 px ) {
	bài viết {
		float : trái ;
		chiều rộng : 100 % ;
	}
}
@media  chỉ  màn hình  và ( chiều rộng tối thiểu : 700 px ) {
	bài viết {
		float : trái ;
		chiều rộng : 48 % ;
	}
}
@media  chỉ  tất cả  và ( chiều rộng tối thiểu : 1000 px ) {
	bài viết {
		float : trái ;
		chiều rộng : 33 % ;
	}
}